body{
    font-family: cursive;
    text-align: center;
    background-color: white;
}

.container{
    width: 500px;
    margin: auto;
}

h1{
    margin-top: 50px;
	text-align: center;
	font-size: 30px;
    color: #FFD0C6;
}

.form label{
    margin-top:10px;
    color: #0a0a0a;
    display: block;
    margin-bottom: 5px;
}

.form input{
    padding: 10px;
    font-size: 15px;
    border-radius: 8px;
    border: 2px solid #2F1E1A;
    width: 90%;
}

.form input:focus{
    border-color: #FFD0C6;
    outline: 0;
}

.form button{
    padding: 9px;
    font-size: 15px;
    width: 95%;
    background-color: #FFD0C6;
    border-radius: 8px;
    border: 2px solid #2F1E1A;
    font-family: cursive;
    margin-top: 20px;
}

.register button{
    padding: 9px;
    font-size: 15px;
    width: 95%;
    background-color: #FFD0C6;
    border-radius: 8px;
    border: 2px solid #2F1E1A;
    font-family: cursive;
    margin-top: 50px;
}
